POSTGRES_USER=hintbook_user
POSTGRES_PASSWORD=придумайте_надежный_пароль_бд
POSTGRES_DB=hintbook_db

DATABASE_URL="postgresql://hintbook_user:пароль_бд@localhost:5432/hintbook_db"

PGADMIN_EMAIL=admin@hintbook.local
PGADMIN_PASSWORD=придумайте_надежный_пароль_админки

YANDEX_CLOUD_ACCESS_KEY=вставьте_идентификатор_ключа_аккаунта
YANDEX_CLOUD_SECRET_KEY=вставьте_секретный_ключ_аккаунта
YANDEX_BUCKET_NAME=имя_вашего_бакета_в_s3
